body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.cv-form,
.add-cv-page,
.all-cvs-page,
.resume-preview,
.home-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1,
h2 {
    text-align: center;
    color: #007bff;
}

.form-step {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #0056b3;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
}

.cv-list {
    margin-top: 20px;
}

.cv-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    border-radius: 5px;
}

.custom-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: #0056b3;

}

.delete-button {
    background-color: #dc3545;

}

.delete-button:hover {
    background-color: #c82333;
   
}

.search-filter {
    margin-bottom: 20px;
    text-align: center;
}